<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>API</key>
		<string>https://server.onespirit.fyi/json/stats.json</string>
		<key>CODE</key>
		<string>OSP</string>
		<key>TAG</key>
		<string>HAROKU</string>
	</dict>
</array>
</plist>
